<p-card>
  <div class="ui-g ui-fluid">
    <div class="ui-g-12">
      <div class="ui-g-4"><input type="text" pInputText [(ngModel)]="mushroomName" placeholder="Название для поиска" /></div>
      <div class="ui-g-4"><button pButton label="Поиск" (click)="findMushrooms()"></button></div>
    </div>
  </div>
</p-card>
<p-card>
  <p-table [value]="mushrooms">
    <ng-template pTemplate="header">
      <tr>
        <th>Название</th>
        <th>Описание</th>
        <th>Цена</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-mushroom>
      <tr>
        <td>{{mushroom.name}}</td>
        <td>{{mushroom.description}}</td>
        <td>{{mushroom.price}}</td>
      </tr>
    </ng-template>
  </p-table>
</p-card>
<router-outlet></router-outlet>